.flex-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 2rem;
}
.track-crypto,
.real-time {
  font-size: 6rem;
  margin: 0;
}
.track-crypto {
  color: var(--white);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--white);
}
.track-crypto:hover {
  color: var(--black);
  -webkit-text-stroke-color: var(--white);
  transition: all 0.3s;
}
.real-time {
  color: var(--blue);
}

.info-text {
  font-size: 1rem;
  color: var(--grey);
}

.btn-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.right {
  width: 50%;
  padding: 1rem;
  position: relative;
}

.iphone {
  position: absolute;
  z-index: 100;
  min-width: 250px;
  width: 50%;
  right: 0;
  /* height: 100vh; */
}
.gradient {
  position: absolute;
  min-width: 200px;
  width: 40%;
  top: 5.5rem;
  right: 0;
    /* position: absolute;
    min-width: 250px;
    width: 41%;
    top: 5.5rem;
    right: 35px */
}

@media only screen and (max-width: 1200px) {
  .track-crypto,
  .real-time {
    font-size: 4.8rem;
    margin: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .iphone {
    min-width: 200px;
    width: 50%;
  }
  .gradient {
    min-width: 170px;
    top: 4rem;
  }
}
@media only screen and (max-width: 800px) {
  .flex-info {
    flex-direction: column;
  }
  .right {
    margin: auto;
    display: block;
    margin: auto;
    margin-top: 3rem;
  }
  .iphone {
    left: -2rem;
  }
  .gradient {
    left: 15%;
  }
  .left {
    width: 100%;
  }
  .info-text {
    text-align: center;
  }
  .track-crypto{
    -webkit-text-stroke-width: 1px;
  }
  .track-crypto,
  .real-time {
    font-size: 3rem;
    text-align: center;
  }
  .btn-flex{
    justify-content: center;
   }
}
